@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100vh;
  width: 100%;
  background-color: #45474b;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  margin-top: 20px;
  width: 98%;
  height: 15vh;
  background-color: #f4ce14;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: inset 5px 10px 10px rgba(0, 0, 0, 0.3),
    inset -2px -5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 20px;
}
.header img {
  height: 100%;
}
.header h2 {
  background-color: #495e57;
  color: #f5f7f8;
  border-radius: 20px;
  padding: 10px;
  max-height: 99%;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 300ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h2:hover {
  transform: scale(0.96);
}
.anime-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 100%;
  width: 100%;
  column-count: 6;
  column-gap: 10px;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  max-height: 400px;
  width: 300px;
  /* margin: 10px; */
  break-inside: avoid; /* Prevents a card from breaking across columns */
  margin-bottom: 10px;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
.categories {
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.196);
  overflow: hidden;
  width: 30%;
  white-space: nowrap;
  height: 60%;
  border-radius: 20px;
  color: white;
  transition: all 300ms ease;
}
.scrollbar-wrapper::-webkit-scrollbar {
  height: 7px;
  width: 20px;
}
.scrollbar-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.scrollbar-wrapper::-webkit-scrollbar-thumb {
  background-color: #5d646c;
  border-radius: 5px;
}
.category-track {
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.scrollbar-wrapper {
  overflow-y: hidden;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.categories label {
  cursor: pointer;
  background-color: #495e57;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}
.active {
  background-color: #f4ce14 !important;
  color: black;
  transform: scale(1.2);
}

@media (max-width: 320px) {
  .header {
    height: 12vh;
    justify-content: space-around;
  }
  .header h2 {
    font-size: large;
    width: 92%;
    height: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .anime-pic-container {
    margin-top: 15%;
    padding: 10px;
  }
  .card {
    max-height: 150px;
  }
  .card img {
    height: 100%;
  }
  .categories {
    position: absolute;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .header {
    height: 15vh;
    justify-content: space-around;
    position: relative;
  }
  .header h2 {
    font-size: large;
    width: 75%;
    height: 90%;
    text-align: center;
  }

  .anime-pic-container {
    margin-top: 15%;
    padding: 10px;
  }
  .card {
    max-height: 150px;
  }
  .card img {
    height: 100%;
  }

  .categories {
    position: absolute;
    top: 110%;
    margin-left: 0%;
    width: 80%;
    height: 50%;
  }
  .scrollbar-wrapper::-webkit-scrollbar {
    display: none;
  }

  .categories label {
    font-size: small;
  }
}
